/.idea
/.DS_Store
/build
/dist
/.tox
/.coverage*
/lbry-venv
/venv

lbry.egg-info
__pycache__
_trial_temp/

/tests/integration/blockchain/files
/tests/.coverage.*

/lbry/blockchain/bin
/lbry/wallet/bin
