*.pyc
*.egg
*.so
*.xml
*.iml
*.log
*.pem
*.decTest

/build
/dist
/lbrynet.egg-info
/docs_build
/lbry-venv

.idea/.name
.coverage
.DS_Store

# temporary files from the twisted.trial test runner
_trial_temp/
