*.pyc

*.xml

.idea/.name

*.iml

*.log

*.txt

lbrynet.egg-info/PKG-INFO

*.egg

/build

/dist

*.so

*.pem

*.decTest

.coverage

# temporary files from the twisted.trial test runner
_trial_temp/

.DS_Store