Twisted==16.0.0
Yapsy==1.11.223
appdirs==1.4.0
argparse==1.2.1
colorama==0.3.7
dnspython==1.12.0
ecdsa==0.13
envparse==0.2.0
gmpy==1.17
jsonrpc==1.2
jsonrpclib==0.1.7
jsonschema==2.5.1
loggly-python-handler==1.0.0
miniupnpc==1.9
pbkdf2==1.3
protobuf==3.0.0
pycrypto==2.6.1
qrcode==5.2.2
requests==2.9.1
requests_futures==0.9.7
seccure==0.3.1.3
simplejson==3.8.2
six>=1.9.0
slowaes==0.1a1
txJSON-RPC==0.5
wsgiref==0.1.2
zope.interface==4.1.3
base58==0.2.2
googlefinance==0.7
pyyaml==3.12
service_identity==16.0.0
