Twisted==16.6.0
cryptography==2.0.3
appdirs==1.4.3
argparse==1.2.1
docopt==0.6.2
base58==0.2.2
git+https://github.com/lbryio/bumpversion.git#egg=bumpversion
colorama==0.3.7
dnspython==1.12.0
ecdsa==0.13
envparse==0.2.0
GitPython==2.1.3
gmpy==1.17
jsonrpc==1.2
jsonrpclib==0.1.7
jsonschema==2.5.1
git+https://github.com/lbryio/lbryschema.git@v0.0.12#egg=lbryschema
git+https://github.com/lbryio/lbryum.git@v3.1.9#egg=lbryum
miniupnpc==1.9
pbkdf2==1.3
pycrypto==2.6.1
pyyaml==3.12
PyGithub==1.34
qrcode==5.2.2
requests==2.9.1
txrequests==0.9.5
seccure==0.3.1.3
service_identity==16.0.0
six>=1.9.0
slowaes==0.1a1
txJSON-RPC==0.5
wsgiref==0.1.2
zope.interface==4.3.3
