[Desktop Entry]
Version=0.8.0
Name=LBRY
Comment=The world's first user-owned content marketplace
Icon=lbry
GenericName=Content Marketplace
Categories=Network;Internet;Filesharing
Terminal=false
Type=Application

MimeType=x-scheme-handler/lbry;

Exec=/usr/bin/lbry %U

Actions=StopDaemon;

[Desktop Action StopDaemon]
Name=Stop Daemon
Exec=/opt/venvs/lbrynet/bin/stop-lbrynet-daemon
